</section>
	<footer>
		<div>
			<div class="clearfix widgets">
				<div class="cols">
					<div  class="col">
					
					</div >
					<div  class="col">
					</div >
				</div>
				<div class="cols">
					<div  class="col">
					</div >
					<div  class="col">
					</div >
				</div>
			</div >
		</div>
	</footer>
</body>
</html>

