<!doctype html>
<!--[if gte IE 9]>
<html class="ie ie9">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8">
<![endif]-->
<!--[if IE 7]>
<html class="ie ie7">
<![endif]-->
<!--[if !IE]><!-->
<html >
 <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>JSJIKER'S-前端资讯,html5,css3,javascript</title> 
<link rel="stylesheet" href="/front/css/style.css" type="text/css">
</head>
<body>
	<nav>
		<%- include('nav',{menus:menus,top:true}) %>
		<div class="clear"><!-- --></div>
	</nav>
	<section class="content">

