<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0
Version: 1.5.2
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>Metronic | Extra - 404 Page Option 2</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <meta name="MobileOptimized" content="320">
   <!-- BEGIN GLOBAL MANDATORY STYLES -->          
   <!-- END GLOBAL MANDATORY STYLES -->
   <!-- BEGIN THEME STYLES --> 
   <link href="/global/css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/global/css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="/global/css/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
	<link href="/admin/css/common/plugins.css" rel="stylesheet" type="text/css">
	<link href="/admin/css/layout/themes/darkblue.css" rel="stylesheet" type="text/css">
   <link href="/admin/css/common/error.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->
   <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-404-full-page">
   <div class="row">
      <div class="col-md-12 page-404">
         <div class="number">
            404
         </div>
         <div class="details">
            <h3>您查找的资源不存在了，~~</h3>
			<% if(typeof(error) != 'undefined' && error){%>
			<p><%= error%></p>
			<%}%>
            <p>
               <a href="/">返回首页</a>
            </p>
            <form action="#">
               <div class="input-group input-medium">
                  <input type="text" class="form-control" placeholder="keyword...">
                  <span class="input-group-btn">                   
                  <button type="submit" class="btn blue"><i class="icon-search"></i></button>
                  </span>
               </div>
               <!-- /input-group -->
            </form>
         </div>
      </div>
   </div>
   <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
   <!-- BEGIN CORE PLUGINS -->   
   <!--[if lt IE 9]>
   <script src="assets/plugins/respond.min.js"></script>
   <script src="assets/plugins/excanvas.min.js"></script> 
   <![endif]-->   
    <!-- END CORE PLUGINS -->
   <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
