<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.6.2
Author: KeenThemes
Website: /
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="MetronicApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<title data-ng-bind="'JSJIKER`S BLOG | ' + $state.current.data.pageTitle"></title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="jsjiker" name="description">
<meta content="jsjiker" name="author">


<link href="/global/css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="/global/css/simple-line-icons/simple-line-icons.css" rel="stylesheet" type="text/css">
<link href="/global/css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/global/css/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
<link href="/global/css/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css">
<link href="/admin/css/common/components.css" rel="stylesheet" type="text/css">
<link href="/admin/css/common/plugins.css" rel="stylesheet" type="text/css">
<link href="/admin/css/layout/layout.css" rel="stylesheet" type="text/css">
<link href="/admin/css/layout/themes/darkblue.css" rel="stylesheet" type="text/css">
<!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
<link id="ng_load_plugins_before">
<!-- END DYMANICLY LOADED CSS FILES -->

<!-- BEGIN THEME STYLES -->
<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
<!-- END THEME STYLES -->

<link rel="shortcut icon" href="favicon.ico">
<meta content="_csrf" name="csrf-param">
<meta content="<%= csrf %>" name="csrf-token"/>

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" 手机里固定头部和底部 -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" 第一个控制左边菜单栏是否显示，第二个控制子菜单栏是否单独显示，鼠标滑过出现-->
<!-- DOC: Apply "page-sidebar-hide" 左边菜单栏不是缩小而是直接隐藏 -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
 
<!-- DOC: Apply "page-sidebar-fixed" 这里固定左边菜单栏， -->
<!-- DOC: Apply "page-footer-fixed" 固定footer -->
<!-- DOC: Apply "page-sidebar-reversed" 菜单栏放到右边 -->
<!-- DOC: Apply "page-full-width" 无菜单，content充满整个屏幕 -->

<body ng-controller="AppController" class="page-sidebar-closed-hide-logo page-header-fixed page-sidebar-closed-hide-logo page-quick-sidebar-over-content page-on-load " ng-class="{'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}">

    <!-- BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!-- END PAGE SPINNER -->

    <!-- BEGIN HEADER -->
    <div  data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top">
		<% include components/header %>
	</div>
    <!-- END HEADER -->

    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div  data-ng-controller="SidebarController" class="page-sidebar-wrapper">          
			<% include components/sidebar %>
		</div>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- BEGIN STYLE CUSTOMIZER(optional) -->
                <div  data-ng-controller="ThemePanelController" class="theme-panel hidden-xs hidden-sm">                
					<% include components/theme-panel %>
				</div>
                <!-- END STYLE CUSTOMIZER -->
                        
                <!-- BEGIN ACTUAL CONTENT -->
                <div ui-view class="fade-in-up">
                </div> 
                <!-- END ACTUAL CONTENT -->
            </div>  
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    <div  data-ng-controller="FooterController" class="page-footer">
			<% include components/footer %>
	</div>
    <!-- END FOOTER -->

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

    <!-- BEGIN CORE JQUERY PLUGINS -->
    <script src="/global/js/jquery/jquery.js" type="text/javascript"></script>
	<script src="/global/js/jquery-browser/jquery.browser.js" type="text/javascript"></script>
    <script src="/global/js/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="/global/js/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js" type="text/javascript"></script>
    <script src="/global/js/jquery-slimscroll/jquery.slimscroll.js" type="text/javascript"></script>
    <script src="/global/js/jquery-blockui/jquery.blockui.js" type="text/javascript"></script>
    <script src="/global/js/jquery-cookie/jquery.cookie.js" type="text/javascript"></script>
    <script src="/global/js/uniform/jquery.uniform.js" type="text/javascript"></script>
    <script src="/global/js/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="/global/js/bootstrap-switch/js/bootstrap-switch.js" type="text/javascript"></script>
    <!-- END CORE JQUERY PLUGINS -->

    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    <!-- END CORE ANGULARJS PLUGINS -->
    
    <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS 
    <script src="/admin/js/angular.all.min.js" type="text/javascript"></script>-->

	<script src="/global/js/angularjs/angular.js" type="text/javascript"></script>  
	<script src="/global/js/angularjs/angular-sanitize.js" type="text/javascript"></script>
	<script src="/global/js/angularjs/angular-touch.js" type="text/javascript"></script>    
	<script src="/global/js/angularjs-plugins/angular-ui-router/angular-ui-router.js" type="text/javascript"></script>
	<script src="/global/js/angularjs-plugins/ocLazyLoad/ocLazyLoad.js" type="text/javascript"></script>
	<script src="/global/js/angularjs-plugins/ui-bootstrap-tpls/ui-bootstrap-tpls.js" type="text/javascript"></script>
	<script src="/global/js/angularjs-plugins/angular-breadcrumb/angular-breadcrumb.js" type="text/javascript"></script>
	<script src="/global/js/angularjs-plugins/ui-codemirror-markdown-editor/ui-codemirror-markdown-editor.js" type="text/javascript"></script>
    <!-- END APP LEVEL ANGULARJS SCRIPTS -->

    <script src="/admin/js/angularjs/app.js" type="text/javascript"></script>
    <script src="/admin/js/angularjs/services.js" type="text/javascript"></script>
    <script src="/admin/js/angularjs/directives.js" type="text/javascript"></script>
    <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
    <script src="/global/js/lodash/lodash.js" type="text/javascript"></script>
    <script src="/admin/js/common/scripts/metronic.js" type="text/javascript"></script>
    <script src="/admin/js/common/layout/layout.js" type="text/javascript"></script>
    <script src="/admin/js/common/layout/demo.js" type="text/javascript"></script>
    <!-- END APP LEVEL JQUERY SCRIPTS -->

    <script type="text/javascript">
        /* Init Metronic's core jquery plugins and layout scripts */
        $(document).ready(function() {   
            

            Metronic.init(); // Run metronic theme
            Metronic.setAssetsPath('/global'); // Set the assets folder path           
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
